li {
  list-style: none;
}
.wrap {
  width: 300px;
  margin: 0 auto;
}
.myHand {
  margin-top: 20px;
}
.win {
  color: blue;
}
.lose {
  color: red;
}
.draw {
  color: green;
}
.judgeWrapper {
  display: flex;
}

.judgeWrapper button {
  flex: 1;
  margin: auto 10px;
}
